
<div class="articles-container article-container">
  <h1>
    <%= @article.title %>
    <p class="icon-link"> <%= link_to 'edit', edit_article_path(@article), method: :get, class: "btn btn-primary btn-sm" %> </p>
    <p class="icon-link"> <%= link_to 'delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary btn-sm" %> </p>
  </h1>
  <p class="article-content"> <%= @article.content %> </p>

  <%= link_to "Go back to all articles", articles_path, class: "btn btn-primary btn-sm" %>
</div>


